.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.overviewPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.tableBody {
  max-height: calc(100vh - 550px);
  overflow-y: scroll;
}

.returnsTableBody {
  max-height: calc(100vh - 610px);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  width: 100%;
}
